<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
</head>
<body>
    <h1>Teléfonos: 12121212212, 34234343434</h1>
    <b>Redes</b>
    <a href="https://es-la.facebook.com/"> facebook <img src="https://kgo.googleusercontent.com/profile_vrt_raw_bytes_1587515400_10885.png" alt="facebook">
    <a href="https://www.instagram.com/"> instagram <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1200px-Instagram_logo_2022.svg.png" alt="instagram">

    </a>
    <br>    <a href="javascript:history.back()"><img src="https://minciencias.gov.co/sites/default/files/08-boton-300x150px-2.png" height="50" width="50" alt="Botón"</a>

</body>
</html>